<%- include('header') %>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/maxiFair">Back</a></li>
</ul>
</div>
</nav>
<body>
<section id="portfolio" class="portfolio">
    <div class="portfolio-details">
        <div class="section-heading text-center">
            <h2>EVENTS</h2>
        </div>
        <div class="container">
            <div class="portfolio-content">
                <div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="item">
                                <a href="/art-attack.ejs">
                                    <img src="images/events/ArtAttack.jpeg" alt="portfolio image"/>
                                </a>
                                <div style="text-align: center; padding-top: 10px;">
                                    <span style="font-size: 20px; color: #1f2c6c;">Art Attack</span>
                                </div>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <div class="item">
                                <a href="/pro-show.ejs">
                                    <img src="images/events/Proshow.jpeg" alt="portfolio image"/>
                                </a>
                                <div style="text-align: center; padding-top: 10px;">
                                    <span style="font-size: 20px; color: #1f2c6c;">Pro Show</span>
                                </div>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <div class="item">
                                <a href="/miss-jamshedpur.ejs">
                                    <img src="images/events/MissJamshedpur.jpeg" alt="portfolio image"/>
                                </a>
                                <div style="text-align: center; padding-top: 10px;">
                                    <span style="font-size: 20px; color: #1f2c6c;">Miss Jamshedpur</span>
                                </div>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                    </div><!-- /.col -->
                    <div class="row" style="margin-top: 40px; margin-bottom: 40px;">

                        <div class="col-sm-4">
                            <div class="item">
                                <a href="/jff.ejs">
                                    <img src="images/events/JFF.jpeg" alt="portfolio image"/>
                                </a>
                                <div style="text-align: center; padding-top: 10px;">
                                    <span style="font-size: 20px; color: #1f2c6c;">Jamshedpur's Favorite Family</span>
                                </div>
                            </div><!-- /.item -->
                        </div><!-- /.col -->


                        <div class="col-sm-4">
                            <div class="item">
                                <a href="/kids-fashion-show.ejs">
                                    <img src="images/events/KidsFashionShow.jpeg" alt="portfolio image"/>
                                </a>
                                <div style="text-align: center; padding-top: 10px;">
                                    <span style="font-size: 20px; color: #1f2c6c;">Kids Fashion Show</span>
                                </div>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">
                            <div class="item">
                                <a href="/masterchef.ejs">
                                    <img src="images/events/Masterchef.jpeg" alt="portfolio image"/>
                                </a>
                                <div style="text-align: center; padding-top: 10px;">
                                    <span style="font-size: 20px; color: #1f2c6c;">Masterchef</span>
                                </div>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4">

                            </div><!-- /.item -->
                            <!--div class="item">
                                <img src="assets/images/portfolio/p5.jpg" alt="portfolio image"/>
                                <div class="isotope-overlay">
                                    <a href="#">
                                        web development
                                    </a>
                                </div--><!-- /.isotope-overlay -->
                        </div><!-- /.item -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!--/.isotope-->
        </div><!--/.gallery-content-->
    </div><!--/.container-->
    </div><!--/.portfolio-details-->

</section><!--/.portfolio-->
</body>
</html>
