<%- include('header') %>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/events">Back</a></li>
</ul>
</div>
</nav>
<body>
<section id="portfolio" class="portfolio">
    <div class="portfolio-details">
        <div class="section-heading text-center">
            <h2>Masterchef</h2>
        </div>
        <div class="container">
            <div class="portfolio-content">
                <div>
                    <div class="row">

                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/1.JPG" alt="portfolio image"/>
                                </a>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/2.JPG" alt="portfolio image"/>
                                </a>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/3.JPG" alt="portfolio image"/>
                                </a>

                            </div><!-- /.item -->
                        </div><!-- /.col -->

                    </div><!-- /.col -->
                    <div class="row" style="margin-top: 40px; margin-bottom: 40px;">

                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/4.JPG" alt="portfolio image"/>
                                </a>
                            </div><!-- /.item -->
                        </div><!-- /.col -->


                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/5.JPG" alt="portfolio image"/>
                                </a>

                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/6.JPG" alt="portfolio image"/>
                                </a>
                            </div><!-- /.item -->
                        </div><!-- /.col -->

                    </div><!-- /.item -->
                    <div class="row" style="margin-top: 40px; margin-bottom: 40px;">

                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/7.JPG" alt="portfolio image"/>
                                </a>

                            </div><!-- /.item -->
                        </div><!-- /.col -->


                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/8.JPG" alt="portfolio image"/>
                                </a>

                            </div><!-- /.item -->
                        </div><!-- /.col -->

                        <div class="col-sm-4 event-cell">
                            <div class="item">
                                <a>
                                    <img src="images/events/masterchef/9.JPG" alt="portfolio image"/>
                                </a>

                            </div><!-- /.item -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.copy this -->
            </div><!-- /.row -->
        </div><!--/.isotope-->
    </div><!--/.gallery-content-->
    </div><!--/.container-->
    </div><!--/.portfolio-details-->

</section><!--/.portfolio-->
<!--portfolio end -->
</body>
</html>
