<section id="clients" class="clients">
    <div class="section-heading text-center">
        <h2>Partners</h2>
    </div>
    <div class="clients-area">
        <div class="container">
            <div class=" your-class owl-carousel owl-theme" id="client">
                <div class="item">
                    <a>
                        <img src="images/brands/logos/nielsen.jpg" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/kane.jpg" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/Real.jpg" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/iquanta.jpg" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/KTM.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/niacl.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/airtel.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/p&g.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/cadbury.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/Unilever.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/reckitt_benckiser.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/ITC_Limited.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/Ogilvy.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/arvind.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/Coca-Cola.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/dabur.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/Aditya_Birla.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a>
                        <img src="images/brands/logos/Philips.png" alt="brand-image" />
                    </a>
                </div><!--/.item-->
            </div><!--/.owl-carousel-->
        </div><!--/.container-->
    </div><!--/.clients-area-->

</section><!--/.clients-->
